*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
